*{
    width: 100wv;
    height: 100wh;
    margin: 0;
    padding: 0;
}
body{
    background-color: #fafafa;
}
/* ---main start------ */
main{
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: 'Kanit';
    
}
.content{
    background-color: #ffffff;
    width: 400px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    text-align: center;
    
}
.submit{
    background-color: #fa8907;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #f5f5f5;
    cursor: pointer;
    padding: 5px 10px;

}

.signup{
    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid #f5f5f5;
}
input{
    width: 300px;
    height: 40px;
    margin: 15px;
}
div.login a{
    text-decoration: none;
    color: #fa8907;
}

div.login{
    padding-top: 20px;
}
/* --------main end------- */
/* --------footerstrat----- */
footer{
    text-align: center;
}
footer p{
    font-size: 20px;
    font-family: 'Lobster';
    padding: 10px;
}
i{
    font-size:30px !important;
    color: #ff6600;
    padding: 10px;
}
footer div:nth-of-type(2){
    font-size: 16px;
    font-weight: bold;
}
footer div:nth-of-type(2) a{
    padding: 5px 7px;
}
footer div a{
    text-decoration: none;
    color: #000000;
}
footer div a:hover{
    text-decoration: none;
    color: #fa8907;
}
hr{
    display: block;
    width: 90%;
    margin: auto;
}
/* --------footer end------ */

