*{
    width: 100wv;
    height: 100wh;
    margin: 0;
    padding: 0;
}
.back{
    background-image: url(../images/background3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

/* ---main start------ */

main{
    position: relative;
    width: 100%;
    height: 90vh;
    font-family: 'Kanit';
    
}
.content{
    background-color: #ffffff;
    width: 45%;
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(141, 172, 186, 0.8);
    text-align: center;
}
.content div h1{
    font-size: 26px;
    margin-bottom: 10px;
}

.top{
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}
.mainleft{
    background-color: #f4f4f4;
    margin: 10px;
}
.mainleft{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:initial;
    
}
.mainleft input{
    width: 20%;
    height: 90%;
}


input[type="text"]{
    width: 300px;
    height: 30px;
    border: none;
}

.searchicon{
    background-color: #ffffff;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: none;
}
.fullsearch{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 30px;
    border: 1px solid #000000;
    border-radius: 5px;
}
textarea{
    width: 80%;
}
.sent, .button button:nth-child(1){
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.sent{
    margin-right: 10px;
    background-color: #fa8907c2;
    padding: 5px 10px;
}
.sent:hover{
    margin-right: 10px;
    background-color: transparent;
    border: 1.5px solid #fa8907c2;
    color: #fa8907;
    padding: 3.5px 8.5px;
}
.button button:nth-child(1){
    background-color: #2e6e41;
    color: #f4f4f4;
    padding: 10px 30px;
    font-size: 16px;
    margin-top: 20px;
}
.button button:nth-child(1):hover{
    background-color: transparent;
    color: #2e6e41;
    border: 1.5px solid #2e6e41;
    padding: 10px 30px;
    font-size: 16px;
    margin-top: 20px;
}
.icons{
    width: 40px;
    height: 40px;
}
.head{
    width: 100%;
    height: 10%;
    background-color: #ffffff;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.previousmatch{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    overflow-y: scroll;
}

.table tbody tr td{
    padding: 10px;
    text-align: center;
    width: fit-content;
}

.table{
    width: 100%;
    height: 100%;
    font: 20px;
    align-items: center;
}
.table tbody tr:nth-child(even){
    background-color: #f4f4f4;
}
.table tbody tr:nth-child(odd){
    background-color: #cbd4dc;
}


/* --------main end------- */

