*{
    margin: 0;
    padding: 0;
}
.back{
    background-image: url(../images/background3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

/* ---main start------ */
.avatarprofile{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #096292;
}
main{
    position: relative;
    width: 100%;
    height: 90vh;
    
}
.content{
    background-color: #ffffff;
    width: 75%;
    height: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(141, 172, 186, 0.8);
    text-align: center;
}

.content div h1{
    font-size: 26px;
    margin-bottom: 10px;
}
.top{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}
.btn button {
    width: 40px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}
.mainleft{
    background-color: #f4f4f4;
    position: relative;
    width: 95%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:initial;
    margin: 0px;
    
}
.mainleft input{
    width: 20%;
    height: 90%;
}


input[type="text"]{
    width: 300px;
    height: 30px;
    border: none;
}

.searchicon{
    background-color: #ffffff;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: none;
}
.fullsearch{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 30px;
    border: 1px solid #000000;
    border-radius: 5px;
}
textarea{
    width: 80%;
}
.sent{
    background-color: #c84d23;
    cursor: pointer;
    padding: 5px 10px;
    color: #cbd4dc;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.message{
    background-color: #096292;
    cursor: pointer;
    padding: 5px 10px;
    color: #f4f4f4;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.message:hover{
    background-color: transparent;
    cursor: pointer;
    padding: 3.5px 8.5px;
    color: #096292;
    border: 1.5px solid #096292;
    border-radius: 5px;
    font-weight: bold;
}
.icons{
    width: 40px;
    height: 40px;
}
.head{
    width: 100%;
    height: 80%;
    background-color: #ffffff;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.previousmatch{
    margin-top: 10px;
    width: 95%;
    height: 80%;
    background-color: #ffffff;
    overflow-y: scroll;
    border: 1px solid #cbd4dc;
}

.table tbody tr td{
    padding: 10px;
    text-align: center;
    width: fit-content;
    font-size: 16px;
}
.table thead tr th{
    padding: 10px;
    text-align: center;
    width: fit-content;
    font-size: 18px;
}

.table{
    width: 100%;
    height: 100%;
    font: 20px;
    align-items: center;
}
.table tbody tr:nth-child(even){
    background-color: #f4f4f4;
}
.table tbody tr:nth-child(odd){
    background-color: #cbd4dc;
}


/* --------main end------- */

