body{
    background-color: #cbd4dc;
    background-image: url(../images/dy56cc.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
*{
    margin: 0;
    padding: 0;
}
* p, * td{
    font-size: 20px;
    color: #222222;
    font-weight: 500;
}
/* headerstart */
a{
    cursor: pointer;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: transparent;
}
.head{
    width: 35px;
    height: 35px;
    margin: 0px 30px;
}
.editable{
    width: 30px;
    height: 30px;
    margin: 40px 30px 0px 30px;
}
header div h1 {
    font-size: 32px;
    color: #f4f4f4;
}


/* header ends */
/* ---main start------ */
main{
    position: relative;
    width: 100%;
    height: 100vh;
    
}
.content{
    background-color: #ffffff;
    width: 60%;
    height: 75%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(141, 172, 186, 0.8);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    animation-name: example;
    animation-duration: .7s;
}


@keyframes example {
    0%   {transform: scale(.01,.01);}
    25%  {transform: scale(.02,.02);}
    50%  {transform: scale(1,1);}
    75%  {transform: scale(.8,.8);}
    100% {transform: scale(1,1);}
    }
.content h1{
    margin: 10px 0px 10px 20px;
    font-size: 32px;
    width: 95%;
    letter-spacing: 1px;
}
.myteam{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    width: 95%;
    height: 25%;
    background-color: #cbd4dc;
    align-items: center;
}
.picture{
    flex-grow: 1;
    display: flex;
}
.about{
    flex-grow: 8;
}
.side{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.creatematch button, .request button {
    font-size: 26px;
    font-weight: bold;
    margin: 10px;
    width: 350px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid #cbd4dc;
    background-color: #203a46;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.8);
}

.teamprofile{
    width: 140px;
    height: 140px;
    border: 1px solid #096292;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 10px;
    /* box-shadow: 0px 5px 15px rgba(0,0,0,0.2); */

}

.previousmatch{
    margin-top: 10px;
    width: 95%;
    height: 55%;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    border: 1px solid #203a46;
    overflow-y: scroll;
}
.previousmatch h2{
    padding: 10px 0px;
    background-color: #203a46;
    color: #f4f4f4;
    position: sticky;
    top: 0;
}
.avatarprofile{
    width: 35px;
    height: 35px;
    border-radius: 20px;
    border: 2px solid #096292;
}

.table tbody tr td{
    text-align: center;
    width: fit-content;
}

.table{
    width: 100%;
    height: 95%;
    font: 20px;
    align-items: center;
}
.table tbody tr:nth-child(even){
    background-color: #f4f4f4;
}
.table tbody tr:nth-child(odd){
    background-color: #cbd4dc;
}
/* .sent{
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 10px;
    background-color: #fa8907;
} */

h2{
    text-align: center;
    font-size: 20px;
}

.edit{
    background-color: #096292;
    color: #f4f4f4;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
}
.edit:hover{
    background-color: transparent;
    color: #096292;
    border-radius: 5px;
    border: 1.5px solid #096292;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
}
.sent{
    background-color: #096292;
    color: #f4f4f4;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
}

.sent:hover{
    background-color: transparent;
    color: #096292;
    border-radius: 5px;
    border: 1.5px solid #096292;
    cursor: pointer;
    padding: 3.5px 8.5px;
    font-weight: bold;
}

.tableright1{
    font-size: 16px;
    margin: 10px 0px;
}
.tableright1 tbody tr td:nth-child(1){
    font-weight: bold;
}
.tableright1 tbody tr td{
    padding: 10px 0px 5px 10px;
}
/* --------main end------- */
