*{
    width: 100wv;
    height: 100wh;
    margin: 0;
    padding: 0;
}
.back{
    background-image: url(../images/background3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

/* ---main start------ */
main{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    animation-name: example;
    animation-duration: .2s;
}
.arrow{
    width: 80px;
    height: 80px;
}

.arrowside{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.arrowside:hover{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}
.arrowside p{
    color: #fa8907;
    font-size: 20px;
    font-weight: bold;
}
.center{
    width: 600px;
    height: 70%;
}
@keyframes example {
    0%   {transform: scale(.2,.2);}
    20%  {transform: scale(.4,.4);}
    25%  {transform: scale(.6,.6);}
    75%  {transform: scale(.8,.8);}
    100% {transform: scale(1,1);}
}
.myteam{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 95%;
    height: 100px;
    padding: 10px 5px;
    background-color: #cbd4dc;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.8);
}
.myteam a:nth-child(1){
    flex-grow: 1;
}
.myteam a:nth-child(2){
    flex-grow: 8;
    color: #000000;
}
.myteam a h1{
    font-size: 32px;
    margin-bottom: 10px;
}

.side{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


.avatarprofile1{
    width: 90px;
    height: 90px;
    border-radius: 20px;
    border: 2px solid #000000;
}
.previousmatch{
    margin-top: 0;
    width: 96%;
    height: 35vh;
    background-color: #cbd4dc;
    box-shadow: 0px 5px 15px rgba(0,0,0,1);
    overflow-y: scroll;
}
/* .previousmatch::-webkit-scrollbar{
    display: none;
} */
h3{
    text-align: center;
    width: 96%;
    padding: 15px 0px 15px 0px;
    text-transform: uppercase;
    background-color: #2b353e;
    color: #fefefec2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: sticky;
    top: 0;
    margin-top: 15px;
    letter-spacing: 1.5px;
}


.avatarprofile{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #096292;
}

.table tbody tr td{
    text-align: center;
    width: fit-content;
    padding: 5px 0px;
}

.table{
    width: 100%;
    font: 20px;
    align-items: center;
    margin-bottom: 10px;
}
.table tbody tr:nth-child(even){
    background-color: #f4f4f4;
}
.table tbody tr:nth-child(odd){
    background-color: #f4f4f4;
}
.table tbody tr td button{
    padding: 5px 10px;
    font-weight: 500;
    color: #ffffff;
    background-color: #096292;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.table tbody tr td button:hover{
    padding: 5px 10px;
    font-weight: bolder;
    color: #096292;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #096292;
    cursor: pointer;
}
/* previous ends */