@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* h1, * h2, * p{
    font-family: 'PT Serif', serif;
}
* header p{
    font-family: 'Poppins', sans-serif;
}

body{
    font-size: 16px;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* header start */
.logo p{
    font-size: 26px;
    color: #cbd4dc;
    padding-top: 30px;
    color: #ffffff;
    font-weight: 300;
}
.logoimg{
    width: 80px;
    height: 90px;
}

.logo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 3%;
    flex-grow: 2;
}

a{ 
    text-decoration: none;
}
.avatarimg{
    width: 45px;
    height: 45px;
    border-radius: 40px;
    border: 3px solid #f4f4f4;

}
.avatarimg:hover{
    width: 45px;
    height: 45px;
    border-radius: 40px;
    border: 3px solid #b68835;
    opacity: 0.7;
}


header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #000000;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.1);
    position: sticky;
    top: 0;
}
.nav{
    flex-grow: 8;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;
    margin-right: 5%;
    padding-top: 40px;
}

.nav button{
    margin-right: 40px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}
.nav button:hover{
    border-bottom: 1.5px solid #fa8907;
    padding-bottom: 10px;
}

.btn{
    position: relative;
    text-align: center;
    padding: 5px 20px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    border: 2px solid #fa8907c2;
    background-color: #fa8907c2;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover{
    color: #fa8907;
    border: 2px solid #fa8907c2;
    background-color: transparent;
}
/* header end */

.first{ 
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../images/new-banner-bg.png);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #000000;
    
}
.first div h1{
    color: #b68835;
    font-size: 60px;
    padding-right: 20px;
}
.para{
    width: 50%;
}
.gif{
    width: 50%;
    height: 100%;
    padding-top: 50px;
}
.mainlogo{
    width: 90%;
    height: 90%;
}

/* whyus start */

#whyus{
    width: 100vw;
    height: 90vh;
    background-color: #000000;
    margin-top: -20px;
    border-top: 1px solid #b68835;
}
#whyus h1{
    font-size: 30px;
    width: 100%;
    height: 3%;
    text-align: center;
    color: #b68835;
    padding-top: 30px;
    letter-spacing: 2px;
}

.logoname{
    display: inline;
    font-family: 'Poppins', sans-serif;
    color: #f4f4f4;
    font-weight: 300;
}

.whyuscontent{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    background-color: #cbd4dc;
    width: 26%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}
.box:hover{
    box-shadow: 0px 5px 15px rgba(255, 255, 255, .7);
    transform: scale(1.02);
}
.box img{
    width: 100%;
    height: 45%;
}
.box h2{
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.box p{
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
    letter-spacing: .5px;
    font-family: 'Poppins', sans-serif;
}

/* why us end */
/* second section start */
.second{ 
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: initial;
   


}
.second1{
    border-top: 1px solid #b68835;
    border-bottom: 1px solid #b68835;
    background-color: #000000;
    width: 100vw;
    height: 80vh;
}
.second1 h1{
    font-size: 1.875em;
    text-align: center;
    color: #b68835;
    margin: 0px 0px 50px 0px;
    /* padding-top: 30px; */
}
.second1>h1{
    font-size: 1.875em;
    text-align: center;
    color: #b68835;
    margin: 0px 0px 50px 0px;
    padding-top: 30px;
}

.second1 h1 b{
    color: #ffffff;
    letter-spacing: 1px;
}
.left2, .right2{
    width: 25%;
    height: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.left2{
    align-items:flex-end;
}
.right2{
    align-items:flex-start;
}
.center2{
    width: 50%;
    text-align: center;
    position: relative;
}
.center2 img{
    width: 95%;
}
.imagescroll{
    width: 69%;
    height: 47%;
    position: absolute;
    top: 7%;
    left: 16.42%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.imagescroll img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.imagescroll::-webkit-scrollbar {
    display: none;
}
.float{
    width: 90%;
    height: 20%;
    padding: 0.625em 0.625em 1.25em 0.625em;
    background-color: #cbd4dc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: initial;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
}
.float:hover{
    height: 20%;
    background-color: transparent;

    border: 2px solid #ffffff;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, .5);
}
.float:hover h1,.float:hover div p{
    color: #ffffff;
    opacity: 1;
}
.float:hover div h2{
    color: #b68835;
}

.float h1{
    font-size: 1.825em;
    opacity: 0.5;
    width: 15%;
}

.float div{
    width: 85%;
}
.float div h2{
    padding: 5px 0px;
    margin: 0;
}
.float div p{
    padding: 5px 0px;
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.third{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: initial;
    background-color: #000000;

}
.thirdimg{
    width: 100%;
    height: 100%;
}


.buttonanim{
    display: block;
    width: 250px;
    height: 60px;
    position: relative;
    margin-top: 100px;
    cursor: pointer;
    cursor:
}
.one1, .two2{
    width: 100%;
    height: 100%;
    position: absolute;
    line-height: 60px;
    font-size: 26px;
    text-align: center;
    transform-origin: 50% 50% -30px;
    transition: all .2s ease;
    backface-visibility: hidden;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.one1{
    background-color: #cbd4dc;
    color: #000000;
    font-weight: bold;
    transform: rotateX(0deg);
}
.two2{
    color: #000000;
    background-color: #b68835;
    font-weight: bold;
    transform: rotateX(90deg);
}
.buttonanim:hover .one1{
    transform: rotateX(-90deg);
}
.buttonanim:hover .two2{
    transform: rotateX(0deg);
}
.one1 img{
width: 50px;
height: 50px;
}

.thirdsub{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}
.thirdsub h2{
    font-size: 45px;
    padding: 50px 0px 0px 30px;
    color: #b68835;  
}

/* --------footerstrat----- */
* footer{
    color: #ffffff;
}
footer{
    text-align: center;
    background-color: #000000;
    margin-top: -50px;
}
footer p{
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
}
footer div i{
    font-size:30px ;
    color: #f4f4f4;
    padding: 10px;
   
}
.fa-facebook:hover{
    font-size:34px ;
    color: #4267b2;
    padding: 6px 10px 6px 10px;
}
.fa-instagram:hover{
    font-size:34px ;
    color: #c13584;
    padding: 6px 10px 6px 10px;
}
.fa-twitter:hover{
    font-size:34px ;
    color: #00acee;
    padding: 6px 10px 6px 10px;
}
footer div:nth-of-type(2){
    font-size: 16px;
    font-weight: bold;
}
footer div:nth-of-type(2) a{
    padding: 5px 7px;
}
footer div a{
    text-decoration: none;
    color: #ffffff;
}
footer div a:hover{
    text-decoration: none;
    color: #fa8907;
}

.rights p{
    color: #ffffff;
    font-size: 14px;
    margin-top: 10px;
    opacity: .6;
}
/* --------footer end------ */

hr{
    display: block;
    width: 65vw;
    height: 1px;
    margin: auto;
    background-color: #b68835;
    border: none;
}
