*{
    width: 100wv;
    height: 100wh;
    margin: 0;
    padding: 0;
}
.back{
    background-image: url(../images/background3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

/* ---main start------ */
main{
    position: relative;
    width: 100%;
    height: 90vh;
    font-family: 'Kanit';
    
}
.content{
    background-color: #ffffff;
    width: 60%;
    height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(141, 172, 186, 0.8);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}

.myteam{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 95%;
    height: 150px;
    background-color: #cbd4dc;
    align-items: center;
}
.teamname{
    font-size: 30px;
}
.head1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 95%;
}
.head1 a{
    flex-grow: 1;
}
.head1 h1{
    font-size: 26px;
    margin: 10px 0px;
    flex-grow: 9;
    text-align: center;
}
.picture{
    flex-grow: 1;
}
.about{
    flex-grow: 3;
}
.details{
    flex-grow: 5;
}
.details p{
    font-size: 18px;
    padding: 5px;
}
.side{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.creatematch button, .request button {
    font-size: 26px;
    font-weight: bold;
    margin: 10px;
    width: 350px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid #cbd4dc;
    background-color: #203a46;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.8);
}

.teamprofile{
    width: 140px;
    height: 140px;
    border: 2px solid #cbd4dc;
}

.previousmatch{
    margin-top: 20px;
    width: 95%;
    height: 60%;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    overflow-y: scroll;
}
.avatarprofile{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #096292;
}

.table tbody tr td{
    text-align: center;
    width: fit-content;
    font-size: 18px;
}


.table{
    width: 100%;
    height: 95%;
    font: 20px;
    align-items: center;
}
.table tbody tr:nth-child(even){
    background-color: #f4f4f4;
}
.table tbody tr:nth-child(odd){
    background-color: #cbd4dc;
}
.sent{
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 10px;
    background-color: #fa8907;
}

h2{
    text-align: center;
    width: 100%;
    font-size: 18px;
    padding: 10px 0px 10px 0px;
    text-transform: uppercase;
    background-color: #2b353e;
    color: #fefefec2;
    position: sticky;
    top: 0;
    letter-spacing: 1.5px;
}

.icons{
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin: 10px 0px;
}

/* buttons start */

.reject, .accept{
    width: 100px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
    margin-top: 10px;
}
.reject{
    color: #f4f4f4;
    background-color: #fa5007;
}
.accept{
    background-color: #2e6e41;
    color: #f4f4f4;
}
.reject:hover{
    color: #fa5007;
    background-color: transparent;
    border: 1.5px solid #fa5007;
    padding: 3.5px 8.5px;
}
.accept:hover{
    background-color: transparent;
    color: #2e6e41;
    border: 1.5px solid #2e6e41;
    padding: 3.5px 8.5px;
}

.message{
    width: 100px;
    padding: 5px 10px;
    font-weight: 500;
    color: #ffffff;
    background-color: #096292;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.message:hover{
    padding: 3.5px 10px;
    font-weight: bolder;
    color: #096292;
    background-color: transparent;
    border-radius: 5px;
    border: 1.5px solid #096292;
    cursor: pointer;
}
/* buttons ends */
/* --------main end------- */
