

.top{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.mainleft, .mainright{
    background-color: transparent;
    height: 96%;
    margin: 10px;
}
.mainleft{
    position: relative;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.mainleft input{
    width: 80%;
    height: 90%;
}
.mainright{
    width: 80%;
    margin: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mainright input, .mainright textarea{
    background-color: transparent;
    font-size: 18px;
    border: none;
    border-bottom: 1.5px solid #096292;
}
.mainright input{
    width: 50%;
}

.mainright textarea{
    width: 70%;
}
.subheader div:nth-child(3) button, .subheader div:nth-child(1) button{
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}
.subheader{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.head{
    width: 40px;
    height: 40px;
}
.remove{
    background-color: #fa8902c2;
    color: #000000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
}

.remove:hover{
    background-color: transparent;
    color: #fa8902c2;
    border-radius: 5px;
    border: 1.5px solid #fa8902c2;
    cursor: pointer;
    padding: 3.5px 8.5px;
    font-weight: bold;
}




/* --------main end------- */
